In [51]:
import pandas as pd

# Load the dataset
file_path = 'cotton_production.csv'
df = pd.read_csv(file_path)

# Remove rows containing "iqtisadi rayon"
df_filtered = df[~df.apply(lambda row: row.astype(str).str.contains('iqtisadi rayon').any(), axis=1)]

# Convert rows into columns and remove text after space in column names
df_transposed = df_filtered.T
df_transposed.columns = [str(col).split(' ')[0] for col in df_transposed.iloc[0]]
df_transposed = df_transposed[1:]

# Replace '-' with NaN for easier processing
df_transposed.replace('-', pd.NA, inplace=True)

# Replace NaN values with 0
df_transposed.fillna(0, inplace=True)

# Convert all data to numeric for further processing
df_transposed = df_transposed.apply(pd.to_numeric, errors='coerce').fillna(0)

# Update the row names by replacing "-" with "_"
df_transposed.index = [str(idx).replace("-", "_") for idx in df_transposed.index]

# Reset the index and set the "Year" column as the index
df_transposed.reset_index(drop=True, inplace=True)
df_transposed.index = range(2000, 2000 + len(df_transposed))
df_transposed.index.name = 'Year'

# Remove the column 'AzerbaijanRespublikasi' if it exists
df_transposed.drop(columns=['Azərbaycan'], errors='ignore', inplace=True)

# Remove rows where all values are less than or equal to 1
df_transposed = df_transposed.loc[~(df_transposed <= 1).all(axis=1)]

# Save the updated dataframe to a new CSV file
transformation_output_file_path = 'transformed_cotton_production.csv'
df_transposed.to_csv(transformation_output_file_path)

print("Transformation complete. File saved at:", transformation_output_file_path)
df_transposed

Transformation complete. File saved at: transformed_cotton_production.csv

,Ağsu,Gəncə,Goranboy,Samux,Ağcabədi,Ağdam,Bərdə,Füzuli,Xocalı,Xocavənd,...,Beyləqan,İmişli,Saatlı,Sabirabad,Cəbrayıl,Laçın,Biləsuvar,Hacıqabul,Neftçala,Salyan
Year,,,,,,,,,,,,,,,,,,,,,
2000,804.0,0,2812.0,105.0,7761.0,1756.0,10683.0,250.0,12,2,...,4687.0,7205.0,15166.0,9347.0,0,0,8056.0,512.0,3599.0,4233.0
2001,736.0,0,3598.0,130.0,5560.0,1101.0,6396.0,511.0,0,0,...,5333.0,7635.0,12797.0,7513.0,0,0,8551.0,535.0,4115.0,3668.0
2002,571.0,138,3282.0,0.0,7809.0,1845.0,7336.0,800.0,0,0,...,5134.0,6724.0,11633.0,6669.0,0,0,6221.0,540.0,4005.0,3920.0
2003,1443.0,63,2511.0,0.0,8604.0,3336.0,8082.0,1500.0,0,0,...,7455.0,7730.0,18793.0,7379.0,0,0,6797.0,625.0,6227.0,4244.0
2004,2176.0,71,2045.0,0.0,8645.0,3134.0,8582.0,1475.0,0,0,...,8704.0,10780.0,34349.0,13213.0,0,0,11699.0,630.0,7851.0,5745.0
2005,2186.0,74,3225.0,23.0,12162.0,5118.0,17144.0,2900.0,0,0,...,14665.0,18495.0,36949.0,18959.0,0,0,17782.0,650.0,12553.0,8645.0
2006,1580.0,71,2360.0,0.0,8351.0,1942.0,13623.0,2000.0,0,0,...,9306.0,11653.0,28786.0,10656.0,55,0,12654.0,350.0,7498.0,6323.0
2007,1032.0,0,2211.0,33.0,6743.0,950.0,7537.0,1405.0,0,37,...,6873.0,11723.0,20230.0,7491.0,80,0,12083.0,306.0,5385.0,4188.0
2008,641.0,0,3475.0,76.0,2775.0,311.0,5353.0,39.0,0,0,...,3176.0,5382.0,12274.0,4573.0,72,30,6056.0,301.0,2012.0,1495.0
2009,3.0,0,1145.0,71.0,2645.0,264.0,2423.0,134.0,0,0,...,2054.0,2510.0,7564.0,2250.0,0,50,5430.0,52.0,606.0,938.0
2010,0.0,0,1617.0,60.0,4148.0,98.0,3281.0,162.0,0,0,...,3210.0,2775.0,7694.0,1940.0,0,0,5678.0,0.0,1360.0,1242.0
2011,60.0,0,2917.0,58.0,7594.0,546.0,5100.0,638.0,0,0,...,3570.0,4537.0,11197.0,3815.0,0,0,13018.0,100.0,3113.0,2184.0
2012,92.0,0,2491.0,77.0,5521.0,342.0,5221.0,398.0,0,17,...,2589.0,4212.0,10302.0,4053.0,0,0,11415.0,0.0,1259.0,1578.0
2013,22.0,0,1400.0,72.0,4043.0,242.0,3945.0,327.0,0,0,...,2804.0,3413.0,8795.0,3160.0,0,0,9474.0,0.0,753.0,1322.0
2014,0.0,0,1033.0,60.0,2886.0,147.0,3237.0,155.0,0,0,...,3876.0,5456.0,7474.0,2676.0,0,0,5834.0,0.0,768.0,1689.0
2015,0.0,0,376.0,43.0,2218.0,71.0,3292.0,5.0,0,0,...,3795.0,6388.0,5650.0,1853.0,0,0,6362.0,0.0,255.0,584.0
2016,1031.0,0,3573.0,761.0,8852.0,833.0,6925.0,522.0,0,0,...,7880.0,10211.0,12088.0,7713.0,58,0,12062.0,800.0,1978.0,2706.0
2017,2807.0,0,6958.0,47.0,20497.0,6179.0,22402.0,2131.0,0,0,...,15726.0,14655.0,25754.0,18170.0,0,0,24762.0,1000.0,9097.0,9276.0
2018,1974.0,0,9147.0,923.0,23305.0,5822.0,25373.0,2217.0,0,0,...,21916.0,18576.0,30448.0,17292.0,0,0,22732.0,1172.0,10090.0,10356.0
2019,994.0,0,7277.0,0.0,32099.0,7316.0,34190.0,1629.0,0,0,...,29443.0,19716.0,41813.0,25211.0,0,0,30707.0,576.0,16072.0,15929.0
2020,1525.0,0,9630.7,173.2,37992.1,7099.5,37295.6,1796.8,0,0,...,31049.4,23776.8,47365.7,31623.3,0,0,28333.0,791.0,23042.0,20425.9
2021,0.0,0,7366.5,0.0,33517.2,6295.8,29689.9,1108.0,0,0,...,24861.6,19688.5,38381.1,27396.2,0,0,20903.7,840.0,22871.2,22691.1
2022,0.0,0,6770.0,0.0,40424.4,7001.5,35953.6,1065.5,0,0,...,28880.1,21139.7,40085.0,35602.3,0,0,17833.0,0.0,23850.0,29398.0
2023,0.0,0,4212.7,0.0,36250.0,4441.2,27467.6,0.0,0,0,...,21606.4,18680.0,38338.1,32992.7,0,0,18539.0,0.0,22854.1,26285.4

In [54]:
import pandas as pd

# Load the dataset
file_path = 'cotton_production.csv'
df = pd.read_csv(file_path)

# Remove rows containing "iqtisadi rayon"
df_filtered = df[~df.apply(lambda row: row.astype(str).str.contains('iqtisadi rayon').any(), axis=1)]

# Convert rows into columns and remove text after space in column names
df_transposed = df_filtered.T
df_transposed.columns = [str(col).split(' ')[0] for col in df_transposed.iloc[0]]
df_transposed = df_transposed[1:]

# Replace '-' with NaN for easier processing
df_transposed.replace('-', pd.NA, inplace=True)

# Replace NaN values with 0
df_transposed.fillna(0, inplace=True)

# Convert all data to numeric for further processing
df_transposed = df_transposed.apply(pd.to_numeric, errors='coerce').fillna(0)

# Update the row names by replacing "-" with "_"
df_transposed.index = [str(idx).replace("-", "_") for idx in df_transposed.index]

# Reset the index and set the "Year" column as the index
df_transposed.reset_index(drop=True, inplace=True)
df_transposed.index = range(2000, 2000 + len(df_transposed))
df_transposed.index.name = 'Year'

# Remove the column 'AzerbaijanRespublikasi' if it exists
df_transposed.drop(columns=['Azərbaycan'], errors='ignore', inplace=True)

# Remove rows where all values are less than or equal to 1
df_transposed = df_transposed.loc[~(df_transposed <= 1).all(axis=1)]

# Reshape the dataframe to have 'Year', 'Region', and 'Production' columns
df_melted = df_transposed.reset_index().melt(id_vars=['Year'], var_name='Region', value_name='Production')

# Save the updated dataframe to a new CSV file
transformation_output_file_path = 'transformed_cotton_production.csv'
df_melted.to_csv(transformation_output_file_path, index=False)

print("Transformation complete. File saved at:", transformation_output_file_path)

df_melted

Transformation complete. File saved at: transformed_cotton_production.csv

     Year  Region  Production
0    2000    Ağsu       804.0
1    2001    Ağsu       736.0
2    2002    Ağsu       571.0
3    2003    Ağsu      1443.0
4    2004    Ağsu      2176.0
..    ...     ...         ...
667  2019  Salyan     15929.0
668  2020  Salyan     20425.9
669  2021  Salyan     22691.1
670  2022  Salyan     29398.0
671  2023  Salyan     26285.4

[672 rows x 3 columns]